body {
  background-color: #060c21;
  font-family: Verdana;
  text-align: center;
  color: white;
}

.mainbar {
  background: #060c21;
  border-bottom: 0.2px solid #1e1e2e;
  padding: 10px;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.create-issue {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  color: white;
}
/* Styling the Form (Color, Padding, Shadow) */
form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1b26;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 99;
  width: 65%;
  height: 75%;
  color: white;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
  color: white;
}

button,
input,
select,
textarea {
  color: white;
  background-color: #24283b;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  border: none;
  border-bottom: solid 2px #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0.45em 0 0.45em 0.83em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0em 0 0.875em 0.1em;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  outline: none;
  background-color: #24283b;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 280px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #9699a3;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border-radius: 5px;
  border: solid 2px #474544;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: blue;
  color: #f2f3eb;
  border: none;
}
#form_button:active {
  background: red;
  color: #f2f3eb;
  border: none;
  opacity: 90%;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
}

.heading button:hover {
  opacity: 70%;
  cursor: pointer;
}

.heading button:active {
  opacity: 60%;
  cursor: pointer;
}
.ticket-table {
  position: relative;
  left: 10%;
  margin-top: 25px;
  background-color: #1e1e2e;
  width: 80%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  border: 0.3px solid #e1d9d1;
  background-color: #1e1e2e;
  padding: 8px;
  text-align: left;
}

.ticket-table th {
  background-color: #1e1e2e;
}

.view-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #1e1e2e;
  padding: 20px;
  width: 35%;
  height: 50%;
  border-radius: 5px;
}

#popup-description {
  width: 100%;
  padding: 3px;
  margin-top: 40px;
}
.close-button {
  position: relative;
  padding: 5px 10px;
  background-color: #ccc;
  color: #000;
  cursor: pointer;
  left: 45%;
  border: none;
}

input[type="checkbox"] {
  width: 90px;
}

.mainForm {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  display: none;
}
